table {
    border-collapse: inherit;
}

.container {
    padding-top: 3%;
    padding-bottom: 3%;
}

.table th, .table td {
    border: 0;
}

.ocean {
    background-color: aqua;
    border: 1px #000000 solid;
}

.red {
    background-color: #ff0000;
    border: 1px #000000 solid;
}