body {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/background.jpg');
    background-color: #ffffff;
}

table {
    border-collapse: inherit;
}

.container {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 1024px;
}

.table th, .table td {
    border: 0;
}

.ocean {
    background-color: aqua;
    border: 1px #000000 solid;
}

.red {
    background-color: #ff0000;
    border: 1px #000000 solid;
}

.text-muted {
    color: #000000 !important;
}