<form>
    <div class="form-group">
        <label for="">Enter coordinates here:</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">(example B3)</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>