<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Battleship Game</title>
    <link rel="stylesheet" href="./dist/assets/bootstrap.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Battleship Game</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ Cells('initCells') }}
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {% include 'form.html.twig' %}
        </div>
        <div class="col-4"></div>
    </div>
</div>

</body>
</html>